/* footer.css */
@import 'variables.css';

/* Щоб основний контейнер займав усю висоту вікна */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Мінімальна висота на весь екран */
}

/* Зробимо основний контент розтягуваним */
.main-content {
    flex: 1 0 auto; /* Дозволяє розтягуватись, але не стискатись */
}

/* Загальні стилі для футера */
.footer {
    flex-shrink: 0; /* Не дозволяє стискатись */
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

/* Стилі для логотипу та тексту */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-image-footer {
    height: 100px;
    margin-bottom: 15px;
}

.footer-tagline {
    color: #333333;
    font-size: 14px;
}

/* Стилі для блоків навігації та мови */
.footer-links {
    display: flex;
    gap: 60px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.footer-section a:hover {
    color: #FF5A34;
}

/* Адаптивні стилі для мобільних пристроїв */
@media (max-width: 992px) {
    .footer {
        padding: 30px;
    }

    .footer-links {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 30px 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 20px;
    }

    .footer-logo {
        align-items: center;
        text-align: center;
    }

    .logo-image-footer {
        height: 50px;
    }

    .footer-section {
        text-align: center;
    }
}